<h1>Apartments!</h1>

<div *ngFor="let apartment of apartments">
  <a routerLink="/active/{{ apartment.id }}">{{ apartment.address }}</a>
</div>

<!-- <button *ngIf="selectedApartment" routerLink="/active">Hide</button> -->

<router-outlet></router-outlet>

<!--
<app-apartment-detail *ngIf="selectedApartment" [apartment]="selectedApartment" [creator]="creator" [numberOfLikers]="numberOfLikers"></app-apartment-detail>

<div *ngIf="selectedApartment && !currentUser">
  <a routerLink="/login/home">login to like</a>
</div>
  
<div *ngIf="selectedApartment && currentUser && !currentUserIsLister">
  <button (click)="likeApartment()" *ngIf="!currentUserHasLiked">Like this listing</button>
</div>
-->
